body {
  font-family: Georgia ;
  font-weight: 200;
}

h1 {
  font-family: Didot;
  color: #7FC6A4 ;
  background-color: #FCF5C7 ;
  padding: inherit ;
}

h2 {
  font-family: Georgia ;
  color: #47A8BD ;
  background-color: #FCF5C7 ;
}

h3 {
  font-family: Helvetica Neue ;
  color: #FFA65E ;
}
h4 {
  font-family: Georgia ;
  background-color: #7FC6A4 ;
  font-weight: bold ;
  color: #FCF5C7 ;
}

p {
  font-family: Georgia ;
  font-weight: bold ;
  color: #ED4E6B ;
}

a {
  font-family: Helvetica Neue ;
  color: #FFA65E ;
}

form>p {
  font-family: Georgia ;
  font-weight: bold ;
  color: #8F63A0 ;
}
table, th, td {
    border: 2px solid #7FC6A4 ;
    font-weight: 200 ;
    color: black ;
    background-color: #FCF5C7 ;
}

img {
  border: 2px solid #79ADDC ;
  padding: 2px;
}

form p {
    background-color: #F9F8EF ;
}
