h1 {
font-family: Georgia;
line-height: 10px ;
font-size:
}

h2{
  font-family: Georgia ;
  font-weight: normal ;
  font-size: 18px ;
  line-height: 21px ;
  text-transform: uppercase;
 }

 h3 {
   font-family: verdana ;
   font-weight: bold;
   text-transform: uppercase;
   color: dimgray ;
   line-height: 30px;

   /* Hides the Stanza X lines */
   display: none ;
 }
p {
  font-size: 18px;
  line-height: 21px;
}

p.stanzaone {
  font-family: Helvetica ;
  color: forestgreen ;
}

p.stanzatwo {
  font-family: Georgia;
  color: navy ;
}

p.stanzathree {
  font-family: Courier ;
  color: deeppink;
}

/* Makes first line of paragraph uppercase & commented out for #4 */
/*p.stanzaone::first-line, p.stanzatwo::first-line, p.stanzathree::first-line {
  text-transform: uppercase;
}*/

/* Makes all stanzas black */
p.stanzaone, p.stanzatwo, p.stanzathree {
  color: black ;
}
